@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/base16/gruvbox-dark-hard.css");
@import url("https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.css");
@import "tailwindcss";

@theme {
  --color-primary: #588157;
  --color-secondary: #acc0ab;
  --color-dark: #2d2d2a;
}

body {
  @apply bg-white text-dark;
}

/* styles specific to MDX body content */

/* avoid horizontal scrolling and force long words/URLs to wrap */
.mdx {
  overflow-wrap: anywhere;
  word-break: break-word;
}

/* for links */
.mdx a,
.mdx a > span {
  @apply text-primary underline underline-offset-2 transition-colors;
  text-decoration-color: transparent;
}

.mdx a:hover,
.mdx a:hover > span {
  text-decoration-color: currentColor;
}

/* headings  */
:where(.mdx) :is(h1, h2, h3) {
  @apply font-bold text-primary mb-3;
  position: relative;
}

/* no underline for anchor direct children of headings */
.mdx :is(h1, h2, h3) > a {
  @apply no-underline text-primary transition-all;
}

.mdx :is(h1, h2, h3) > a::before {
  @apply text-secondary;
  content: "#";
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
}

.mdx :is(h1, h2, h3):hover > a::before {
  opacity: 1;
}

.mdx h1 {
  @apply text-3xl;
}

.mdx h1 > a::before {
  margin-left: -1em;
  padding-right: 0.5em;
}

.mdx h2 {
  @apply text-2xl;
}

.mdx h2 > a::before {
  margin-left: -1.1em;
  padding-right: 0.5em;
}

.mdx h3 {
  @apply text-xl;
}

.mdx h3 > a::before {
  margin-left: -1.2em;
  padding-right: 0.5em;
}

/* general body */
.mdx p {
  @apply mb-4;
}

.mdx blockquote {
  @apply border-l-4 border-primary bg-secondary/20 pl-4 py-2 my-4;
}

/* tables */
.mdx table {
  @apply w-full border-collapse my-4 block overflow-x-auto;
}

.mdx th,
.mdx td {
  @apply border border-dark px-4 py-2 text-left;
}

.mdx th {
  @apply bg-secondary font-bold;
}

/* lists */
.mdx ul {
  @apply mb-2 pl-6 list-disc;
}

.mdx ul > li > ul {
  /* for second level nesting */
  @apply list-[circle];
}

.mdx ol {
  @apply mb-2 pl-6 list-decimal;
}

/* code blocks */
.mdx pre {
  @apply overflow-x-auto my-4;
}
.mdx code {
  @apply wrap-break-word;
}

/* images */
.mdx img {
  @apply max-w-full h-auto;
}

/* footnotes */
.mdx .footnotes {
  @apply border-t border-dark mt-6 pt-4 text-xs;
}
